.grid-container
{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(1px, 100fr));
    grid-auto-rows: 1px;
    grid-auto-flow:dense;
    gap: 15px;
}

.grid-item
{
    overflow-y: hidden;
    overflow-x: hidden;    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 3%;

    grid-column: span 50;
    grid-row: span 100;

}

.grid-item:hover
{
    outline: 1px dotted rgb(116, 116, 116);
    z-index: 2;
}



.grid-item img
{
    height: 100%;
    width: 100%;
}

.page
{
    padding-top: 50px;
}


img:hover
{
    cursor: crosshair;
}