.grid-container
{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10px, 5fr));
    grid-auto-rows: 10px;
    grid-auto-flow: dense;
}

.grid-item
{
    overflow-y: hidden;
    overflow-x: hidden;    
    padding: 4px;
    background-color: white;
}

.grid-item:hover
{
    grid-column: span 2;
    grid-row: span 2;
}



.grid-item img
{
    height: 100%;
    width: 100%;
}