@font-face {
  font-family: alliance;
  src: url(assets/fonts/alliance.otf);
}

@font-face {
  font-family: arialblack;
  src: url(assets/fonts/arial-black.ttf);
}

@font-face {
  font-family: swiss751;
  src: url(assets/ubi/font/Swiss\ 721\ Regular.otf);
}


@font-face {
  font-family: swiss751bold;
  src: url(assets/ubi/font/swissBold.otf);
}

@font-face {
  font-family: swiss751black;
  src: url(assets/ubi/font/swissHeavy.otf);
}



h1
{
  font-family: swiss751bold;
  font-size: 70px;
  font-weight:1;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar img {
  width: 100%;
  padding-bottom: 40%;
}

.homescreen {
  min-width: 100%;

  z-index: 0;

  background-image: radial-gradient(white 33%, transparent 44%);
  background-size: 3px 3px;
  background-repeat: round;
  padding: 0;
  margin: 0px, 0px, 0px, 0px;
}

.topBar {
  text-align: left;
}

.topBar h1 {
  font-family: swiss751;
  font-weight:bolder;
  font-size: 29px;
  letter-spacing: -1.4px;
  display: block;
}

.topBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topBar li {
  display: inline;
  float: left;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.topBar li:hover {
  background-color: black;
}

.topBar h1:hover {
  color: white;
}

.content {
  width: 100%;
  color: black;
  font-family: swiss751;
  z-index: 0;
  overflow: hidden;
}

.content a {
  text-decoration: none;
  color: black;
}

.content h1 {
  font-weight: normal;
  text-decoration: none;
  line-height: 2px;
  margin-right: 1px;
  letter-spacing: -4%;
}

.content body {
  text-decoration: none;

  justify-content: right;
  text-align: right;
}
