body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: medium;
    text-decoration: none;

  }

h2 {
    font-size: large;
    text-align: center;
    text-justify: inter-word;
    text-decoration: none;

}

h3 {
    font-size: large;
    text-align: center;
    text-justify: inter-word;
    text-decoration: none;

}



p {
    font-size: large;
    text-align: center;
    text-justify: inter-word;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url("https://ibb.co/G70PkGY");
    font-size: medium;
    text-decoration: none;

}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }