@font-face {
    font-family: avant;
    src: url(assets/fonts/avant.ttf);
}

@font-face {
    font-family: europa;
    src: url(assets/fonts/europa.otf);
}

body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.page
{
    
}

.page h1
{
    color: black;
    font-family: europa;
    font-size: 50px;
    letter-spacing: -1.4px;
    display: block;
}

::selection
{
    color: gray;
    background: transparent;
}

::-moz-selection
{
    color: gray;
    background: transparent;
}