@font-face {
    font-family: avant;
    src: url(assets/fonts/avant.ttf);
}

@font-face {
    font-family: europa;
    src: url(assets/fonts/europa.otf);
}

@font-face {
    font-family: swiss751;
    src: url(../assets/ubi/font/Swiss\ 721\ Regular.otf);
}

@font-face {
    font-family: avant;
    src: url(../assets/fonts/avant.ttf);
}

@font-face {
    font-family: europa;
    src: url(../assets/fonts/europa.otf);
}



a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body
{
    margin: 0 0 0 0;
    background-color: white;
}

.homescreen
{
    min-width: 100%;
    min-height: 100%;
    z-index: 0;

    background-size: 6px 6px;
    background-repeat: round;
    padding: 0; 
    margin: 0;


}

.topBar
{
    text-align: left;
    position: fixed;
    padding-top: 0px;
    margin-top: 0px;
}
.topBar h1
{
    color : black;
    font-size: 29px;
    letter-spacing: -1.4px;
    display: block;
    
}


.topBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topBar li {
    display: inline;
    float: left;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;

    
}

.topBar li:hover
{
    background-color: black;
}

.topBar h1:hover
{
    color : white;
}

.content
{
    width: 87%;
    color: black;
    font-family: swiss751;
    z-index: 0;
    overflow: hidden;
}

.content a
{
    text-decoration: none;
    color :black;
}

.content h1
{
    font-weight: normal;
    text-decoration: none;
    line-height: 2px;
    margin-right: 1px;
    letter-spacing: -4%;
}

.content body
{
    text-decoration: none;
   justify-content: right;
   text-align: right;
}

.grid
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 2px;
    align-items:stretch;
}

.grid img
{
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 1/1;

}

.landscape-grid
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 20px;
    align-items:stretch;
}

.landscape-grid img
{
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 16/10;

}

.media-container video
{
    object-fit: cover;

}

.section
{
    display: grid;
}

@keyframes mymove {
    0% 
    {
        background-size: 100%;; 
        background-position: center;
    }
    100% 
    {
        background-size: 300%;
    }
}

body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.page
{
    
}

.page h1
{
    color: black;
    font-family: europa;
    font-size: 50px;
    letter-spacing: -1.4px;
    display: block;
}

::selection
{
    color: gray;
    background: transparent;
}

::-moz-selection
{
    color: gray;
    background: transparent;
}