
button
{
    width: auto;
    height: auto;
    background-color: transparent;
    border-width: 0px;
    outline-width: 0px;
}
.panel
{
    height: 300px;
    width: 90%;
    justify-self: center;
   
    border-radius: 20px;
    background-color: white;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    margin-top: 60px;
}

.pager
{
    background-color: white;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;

}