.page
{
    font-family: swiss751;
    min-width: 100%;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    align-content: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-smooth: always;
}

.page h1 
{
    text-transform:uppercase;
    letter-spacing: -5.5px;
    padding: 0px;
    margin: 0px;
    display: inline;
}

.page .project-list
{
    display: block;
}

.page .list-item-title
{
    display: inline;
    overflow:auto; 
}


.page .list-item .tech
{
    display: inline;
    text-align:justify;

    color: rgb(185, 185, 185);
}


.page .list-item:hover
{
    color: red;
    animation: highlight 0.05s;
}

@media (orientation: landscape) {
    .page .list-item
    {
        display: flex;
        flex-wrap:nowrap;
    }

    .page .list-item-info
    {
        
        padding-top: 12px;
        padding-left: 9px;
        font-size: 17px;
        display: inline;
        vertical-align: top;
        word-wrap:break-word;
        text-wrap-mode: wrap;
        text-align:justify;
        margin-right: 2vw;
    }
}

@media (orientation: portrait) {
    .page .list-item
    {
        display: flex;
        flex-wrap:wrap;
    }


    .page .list-item-info
    {
        padding-left: 9px;
        font-size: 17px;
        display: inline;
        vertical-align: top;
        word-wrap:break-word;
        text-wrap-mode: wrap;
        margin-right: 0px;
        text-align:justify;

    }

    .page h1 
    {
        line-height: 55px;
        text-wrap-mode: wrap;
        text-wrap-style: stable;
        word-wrap: break-word;
    }
}

@keyframes highlight {
    0% {
        color: inherit;
    }
    100% {
        color: none;
    }
}

@keyframes unhighlight {
    0% {
        color: inherit;
    }
    100% {
        color: none;
    }
}